<div class="post">

  <a href="/session/list">Check out the Sessions!</a>&nbsp;&bull;&nbsp;
  <a href="/speaker/list">See who is speaking!</a>
</p>



<div class="contentarea">

  <strong>
    Follow us on <a href="http://twitter.com/iowacodecamp" target="_blank">Twitter</a>
  </strong><br /><br />

  <h4>Download an App for our schedule!</h4>
  <ul style="padding-left:30px;">
    <li style="padding-top:3px;"><a href="https://market.android.com/details?id=com.iowacodecamp.android">Android</a></li>
    <li style="padding-top:3px;"><a href="http://itunes.apple.com/us/app/iowacodecamp/id468254555?ls=1&mt=8">iPhone</a></li>
    <li style="padding-top:3px;"><a href="http://www.windowsphone.com/en-US/apps/c163bff0-22f3-4d82-b63d-047c9e121b48">Windows Phone 7</a></li>
  </ul>
  <br /><br />

  <p>
    You might be asking, <strong>what's a code camp</strong>? Well, here are some of the basic ideas:
  </p>
  <ul style="padding-left:30px;">
    <li>Community driven</li>
    <li>Its for and by developers</li>
    <li>No cost for attendees</li>
    <li>Developer relevant content</li>
    <li>Never during work hours - usually on a Saturday</li>
  </ul>
  <br />
  <p>
    We are looking for developers who want to tell other developers about cool things they are doing. Topics they really care about.  If you are working with .Net, Ruby, PHP, Java, Rails, Python, SQL, &lt;fill in the blank&gt; and you want to tell other people about it, then consider submitting a speaking proposal.
  </p>
  <p>
    If you have questions about speaking at an event, contact Nick Parker and Jon von Gillern at <strong>speakers [at] iowacodecamp d0t com</strong>.
  </p>
  <p>
    If you want to help sponsor, contact Zac Harlan at <strong>sponsors [at] iowacodecamp d0t com</strong>.
  </p>

  <p>
    Remember this an event FOR developers BY developers, so we need you to help us make it succeed!
  </p>

</div>

</div>

<div class="divider2"></div>